.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1.2em;
    font-size: 1.2rem;
  }
  .flag-icon:before {
    content: "\00a0";
  }
  .flag-icon.flag-icon-squared {
    width: 1em;
  }

  .flag-icon-en {
    background-image: url(../img/flags/4x4/en.svg);
  }
  .flag-icon-en.flag-icon-squared {
    background-image: url(../img/flags/1x1/en.svg);
  }

  .flag-icon-cn {
    background-image: url(../img/flags/4x4/cn.svg);
  }
  .flag-icon-cn.flag-icon-squared {
    background-image: url(../img/flags/1x1/cn.svg);
  }

  .flag-icon-fr {
    background-image: url(../img/flags/4x4/fr.svg);
  }
  .flag-icon-fr.flag-icon-squared {
    background-image: url(../img/flags/1x1/fr.svg);
  }
  .flag-icon-vi {
    background-image: url(../img/flags/4x4/vi.svg);
  }
  .flag-icon-vi.flag-icon-squared {
    background-image: url(../img/flags/1x1/vi.svg);
  }
  .flag-icon-de {
    background-image: url(../img/flags/4x4/de.svg);
  }
  .flag-icon-de.flag-icon-squared {
    background-image: url(../img/flags/1x1/de.svg);
  }
  .flag-icon-br {
    background-image: url(../img/flags/4x4/br.svg);
  }
  .flag-icon-br.flag-icon-squared {
    background-image: url(../img/flags/1x1/br.svg);
  }
