.grid {
    display: grid;
    grid-template-columns: 0% 100%;
    grid-template-rows: 45px 1fr 45px;
    /* grid-gap: 1em; */
    height: 100vh;
  }
  
  .box-body {
    overflow-y: auto;
  }
  
  aside {
    background-color: #edf2f7;
    width: 266px;
  }
  
  header {
    background-color: #2d3748;
    height: 45px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #2d3748;
    height: 60px;
  
    font-size: 18px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .p-sidebar-left {
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #2d3748 !important;
  }

  .p-button {
    background-color: #2d3748 !important;
    border: 1px solid #2d3748;
  }

  .p-sidebar.p-sidebar-active.p-sidebar-left {
    position: relative;
  }
  