<div class="main">
  <app-header></app-header>
  <section>
    <div class="section-body flex flex-wrap justify-content-center p-3">
      <div class="section-body sm:col-12 lg:col-6">
        <form>
          <div class="profile">
            <h2 class="text-center">Change Password</h2>
            <form class="profile-form mx-4">
              <div class="ChangePass-Body">
                <div class="col-12 my-2">
                  <span class="p-float-label">
                    <input
                      id="float-input"
                      id="password"
                      type="{{ showPassword ? 'text' : 'password' }}"
                      pInputText
                      formControlName="password"
                    />
                    <label for="float-input">Password</label>

                    <i
                      class="eye-pw"
                      (click)="togglePasswordVisibility()"
                      [ngClass]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    ></i>
                  </span>
                </div>

                <div class="col-12 my-2">
                  <span class="p-float-label">
                    <input
                      id="float-input"
                      id="confirmPassword"
                      type="{{ showConfirmPassword ? 'text' : 'password' }}"
                      pInputText
                      formControlName="confirmPassword"
                    />
                    <label for="float-input">Confirm Password</label>
                    <i
                      class="eye-pw"
                      (click)="toggleConfirmPasswordVisibility()"
                      [ngClass]="
                        showConfirmPassword ? 'pi pi-eye-slash' : 'pi pi-eye'
                      "
                    ></i>
                  </span>
                </div>

                <div class="card flex justify-content-around mb-4">
                  <div class="">
                    <button
                      Class="cancel px-4 py-2 text-center  "
                      routerLink="/profile"
                    >
                      <i class="pi pi-angle-double-left"></i>
                      Back
                    </button>
                  </div>
                  <div class="">
                    <p-toast></p-toast>
                    <button class="save px-4 py-2 text-center" (click)="show()">
                      <i class="pi pi-save mr-2"></i>Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </form>
        <br />
      </div>
    </div>
  </section>
</div>
